{
  "presets": [
    [ "env", {
      "exclude": [
        "transform-regenerator"
      ],
      "targets": {
        "chrome": 43,
        "firefox": 38
      }
    }]
  ],
  "plugins": [
    "syntax-async-generators",
    "transform-exponentiation-operator",
    "transform-async-generator-functions",
    "fast-async"
  ]
}
